@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Playfair+Display:ital,wght@1,800&display=swap');

*{
    font-family: 'Gowun Dodum', sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkseagreen;

}

#signParent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px; 
    /* 근데 algin item했는데 왜 수직 중앙 정렬 안됨 ? */

    width : 500px;
    height: 500px;

    background-color: rgb(157, 205, 157);
    border-radius: 10px;
}

#loginComment{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-shadow : 3px 3px black;
    color:bisque;
    margin-bottom : 50px;
}

#loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.logIn{
    padding : 5px;
    border : none;

    border-radius: 10px;
}

#signupDiv{
    display:flex;
    flex-direction: row;
    /* border : 2px solid red; */
}

.signUp{
    padding: 7px 30px;
    margin:10px;
    border:none;
    border-radius: 10px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.signUp:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #logOut{
    padding: 5px 20px;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #logOut:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


  #GoMain{
    width : 60px;
    height : 25px;
    border : none;
    border-radius: 10px;

    font-family: 'Gowun Dodum', sans-serif;
    font-size : 15px;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#GoMain:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }